.container {
  background-color: white;
  width: 80vw;
  height: 100vh;
  margin: auto;
  display: flex;
}
.para {
  padding: 30vh 0vw;
}
@media (max-width: 600px) {
  .container {
    margin-top: 500px;
    display: flex;
    flex-wrap: wrap;
  }
  .para {
    margin-top: -200px;
  }
}
